[flake8]
max-line-length = 88

exclude =
    .venv,
    venv,
    migrations,
    __pycache__,
    *.pyc,
    build,
    dist,
    .git,
    .tox,
    .pytest_cache,
    */site-packages/*

ignore =
    E203,
    E501,
    W503